<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.mapper.CustomerMapper" >
  <resultMap id="CustomerMap" type="com.hand.dto.Customer" >
    <id column="customer_id" property="customerId" jdbcType="SMALLINT" />
    <result column="store_id" property="storeId" jdbcType="TINYINT" />
    <result column="first_name" property="firstName" jdbcType="VARCHAR" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address_id" property="addressId" jdbcType="SMALLINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
	<select id="getById" parameterType="Short" resultMap="CustomerMap">
		select customer_id,first_name,last_name ,email,address_id,create_date,store_id from 
		customer where customer_id = #{id}
	</select>
	<select id="getByCustomer" parameterType="com.hand.dto.Customer" resultMap="CustomerMap">
		select customer_id,first_name,last_name ,email,address_id,create_date,store_id from 
		customer where first_name = #{firstName} and last_name = #{lastName} and email = #{email}
		and address_id = #{addressId} and create_date = #{createDate}
	
	</select>
	<insert id="add" parameterType="com.hand.dto.Customer">
		insert into customer(first_name,last_name,email,address_id,create_date,store_id)	
		values(#{firstName},#{lastName},#{email},#{addressId},#{createDate},#{storeId})
	</insert>
	
	<delete id="deleteById" parameterType="Short" >
		delete from customer where customer_id = #{id}
	</delete>

</mapper>